<div  display="flex" fxLayout="row wrap" fxLayoutAlign="flex-start center " fxLayoutGap="80px" class="content" >
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="Name" #name  [formControl]="emailFormControl"> 
			    <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select matNativeControl placeholder="Gender" (change)="gender($event.target.value)" >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Father Name" #fname> 
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mother Name" #mname>
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile No" #mobileNo >
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address" #address>
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select  matNativeControl placeholder="Designation" (change)="designation($event.target.value)" >
                    <option value="associate">Associate Software Consultant</option>
                    <option value="software">Software Consultant</option>
                    <option value="senior">Senior Software Consultant</option>
                    <option value="manager">Project Manager</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select matNativeControl placeholder="Experience" (change)="experience($event.target.value)" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="above8">Above 8</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Projects Handled" >
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Project Manager" #pm> 
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Leaves Applied" #la>
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Leaves Remaining" #lr>
			  <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select matNativeControl placeholder="Status" (change)="status($event.target.value)" >
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="EmployeeID" #empID>
				<mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </form>
    </div>
</div>
<div display="flex" fxLayout="row wrap" fxLayoutAlign="center" >
    <button mat-raised-button color="primary" (click)="createNewUser(name.value,fname.value,mname.value,mobileNo.value,address.value,pm.value,la.value,lr.value,empID.value)">Save</button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>