<div  display="flex" fxLayout="row wrap" fxLayoutAlign="flex-start center " fxLayoutGap="80px" class="content" >
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" >
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Father Name" > 
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mother Name" >
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile No"  >
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address" >
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select  matNativeControl placeholder="Designation" >
                    <option value="associate">Associate Software Consultant</option>
                    <option value="software">Software Consultant</option>
                    <option value="senior">Senior Software Consultant</option>
                    <option value="manager">Project Manager</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select matNativeControl placeholder="Experience" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="above8">Above 8</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Projects Handled" >
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Project Manager">
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Leaves Applied">
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Leaves Remaining">
            </mat-form-field>
          </form>
    </div>
    <div flex="33">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <select matNativeControl placeholder="Status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                  </select>
            </mat-form-field>
          </form>
    </div>
</div>
<div display="flex" fxLayout="row wrap" fxLayoutAlign="center" >
    <button mat-raised-button color="primary" (click)="createNewUser()">Save</button>
    <button mat-raised-button color="warn">Cancel</button>
</div>