<mat-drawer-container class="example-container" style="height: 100vh !important;">
        <mat-drawer mode="side" opened style="background:black;width:15%;">
        
            <div>
                    <mat-icon style="font-size:50px;margin-left: 67px;color:#fafafa" >account_box</mat-icon>
            </div>
           
            <div style="margin-left: 35px;">
                    {{"vidyasagar"}}
                  </div>
                  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" style="text-align:center">
                <div>
                        <button style="margin-top: 38px;width: 177px;" mat-raised-button color="primary" (click)="createNewUser()"> <mat-icon>add</mat-icon>User Registration</button>
                    </div>
                   
                    <div>
                        <button style="width: 177px;padding-left: 1px" mat-raised-button color="primary"  (click)="createLeaveReq()"><mat-icon>time_to_leave</mat-icon>Leave Request</button>
                    </div>
                    <div>
                        <button  mat-raised-button color="primary" (click)="createTravelReq()"><mat-icon>flight_takeoff</mat-icon>Travel Fee Request</button>
                    </div>
                </div>
        </mat-drawer>
        <mat-drawer-content >
                <mat-toolbar >
                        <div fxLayout="row" fxFlex="100%">
                         <div fxFlex="50%" fxLayoutAlign="start">     
                        <button (click)="redirectToHome()"><mat-icon>home</mat-icon></button>
                </div>  
                        <div fxFlex="50%" fxLayoutAlign="end">
                        <button (click)="redirectToLogin()"><mat-icon>exit_to_app</mat-icon></button>
                </div> 
                </div>
                      </mat-toolbar>
                <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>






