<div class="container" fxLayout="row nowrap"  >
    <div display= "flex"  fxFlex="50%" >
        <mat-form-field > 
            <input  placeholder="No of Leaves Applied"  matInput disabled>
        </mat-form-field>
   </div>
   <div display= "flex" fxFlex="50%">
        <mat-form-field > 
        <input  placeholder="Remaining Leaves"  matInput disabled>
        </mat-form-field>
   </div>
</div>
<div class="container" fxLayout="row wrap" fxLayoutGap="20px"  >
    <div>
        <mat-form-field > 
        <input  placeholder="Start Date" type="datetime-local"  matInput >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <input  placeholder="End Date"  type="datetime-local"  matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <input  placeholder="Reason for Leave" matInput>
        </mat-form-field>
    </div>
    <div>  
        <mat-form-field >
        <input placeholder="No of leaves" matInput disabled>
        </mat-form-field>
    </div>
   
</div>
<div  fxLayoutAlign="center" fxLayoutGap="10px" >
        <button mat-raised-button  color="primary" (click)="setLeavesreqIntoDB()" >Submit</button>
        <button mat-raised-button  color="warn" (click)="close()">Cancel</button>
</div>

